{
    "all": true,
    "require": ["@babel/register"],
    "include": [
      "test/**.js",
      "src/**.js"
    ],
    "exclude": [
       
    ],
    "reporter": [
      "text",
      "lcov",
      "html",
      "json"
    ]
  }